*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(95, 93, 93);
}

#pegandoDados{
    margin-top: 200px;
    margin-inline: auto;
    text-align: center;
    padding: 10px;
}

.btnModal{
    display: block;
    margin-inline: auto;
}

#pegandoDados::backdrop{
    background-color: black;
}

#saudacao{
    text-align: center;
    margin-bottom: 20px;
}

#containerValores{
    display: flex;
    justify-content: space-around;
}

.valores{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
}

.tituloContainer{
    margin: 10px 0 10px 0;
    text-align: center;
}

#containerContas{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 10px;
}

.aPagar{
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(235, 37, 37);
    width: 100px;
    font-size: 10px;
}

.pagas{
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(37, 235, 70);
}

.dadosConta{
    text-align: initial;
}

/* Botão de add conta */
#btnAddConta{
    margin-top: 40%;
    margin-left: 80%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(37, 235, 70);
    border: none;
}