@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@400;600;700&family=Montserrat:wght@400;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body{
    background-color: rgb(48, 47, 47);
}

#pegandoDados{
    margin-top: 100px;
    margin-inline: auto;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    border: 1px solid blueviolet;
    text-shadow: 1px 1px 1px blueviolet;
    background-color: #000;
}

#pegandoDados::backdrop{
    background: rgba(55, 12, 80, 0.35);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}

#saudacao{
    height: 60px;
    padding: 20px;
    background-color: rgb(73, 73, 73);
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 15px #000000;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 1px 8px #000000;
}

#containerValores{
    display: flex;
    justify-content: space-around;
}

.valores{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    text-shadow: 1px 1px 5px #000;
    padding: 10px;
    border-radius: 10px;
}

.tituloContainer{
    margin: 10px 0 10px 0;
    text-align: center;
}

.containerContas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.aPagar{
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #c90000;
    width: 120px;
    font-size: 12px;
    text-shadow: 1px 1px 5px #000000;
    color: #ffffff;
    box-shadow: 1px 2px 5px #000;
    height: 120px;
}

.pagas{
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 5px #000000;
    border-radius: 10px;
    width: 100px;
    height: 70px;
    background-color: rgb(37, 235, 70);
}

.dadosConta{
    text-align: initial;
    font-size: 12px;
}

/* Botão de add conta */
#btnAddConta{
    right: 50px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(37, 235, 70);
    border: none;
    position: fixed;
}

#containerBtnLimparContas{
    display: flex;
    justify-content: center;
}

#btnLimparContasPagas{
    text-align: center;
}

.divContas{
    background-color: rgb(73, 73, 73);
    color: #fff;
    text-shadow: 1px 1px 15px #000;
    text-align: center;
    max-width: 80%;
    min-height: 150px;
    margin-inline: auto;
    border-radius: 15px;
    margin-top: 30px;
    padding: 5px;
}



.dica{
    color: rgb(102, 102, 102);
    text-shadow: none;
    margin-top: 20px;
    max-width: 80%;
    margin-inline: auto;
}

#containerBtnConta{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.btnConta{
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
}

#btnPagarConta{
    background-image: url(../img/verifica.png);
    background-size: cover;
}

#btnExcluirConta{
    background-image: url(../img/excluir.png);
    background-size: cover;
}

.btn{
    padding: 5px;
    background-color: blueviolet;
    width: 80px;
    color: #fff;
    margin-top: 10px;
    margin-inline: auto;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px #000;
}

.input{
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    margin-inline: auto;
    border: none;
    border-bottom: 1px solid blueviolet;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: #fff;
    
}

#containerVenc{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

}

#diaVenc{
    width: 30px;
    border: 1px solid blueviolet;
    margin-inline: 10px;
    border-radius: 5px;
    height: 25px;
    width: 40px;
    padding: 5px;
}

#mesVenc{
    width: 30px;
    border: 1px solid blueviolet;
    margin-inline: 10px;
    border-radius: 5px;
    height: 25px;
    width: 40px;
    padding: 5px;
    
}

.inputId{
    display: block;
    width: 30px;
    border: 1px solid blueviolet;
    margin-inline: auto;
    border-radius: 5px;
    height: 25px;
    width: 40px;
    padding: 5px;
    background-color: #000000;
    outline: none;
    caret-color: #fff;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
}

#salario{
    position: relative;
    height: 70px;
}

#btnEditarSalario{
    width: 20px;
    height: 20px;
    border: none;
    background-color: blueviolet;
    border-radius: 5px;
    box-shadow: -1px -1px 1px #000;
    position: absolute;
    right: -5px;
    bottom: -5px;
}

/* Estilizando os botoes que precisão estar desabilitados*/
#btnModalNome{
    background-color: rgb(73, 73, 73);
    color: rgb(105, 105, 105);
    transition: 500ms;
}


#btnModalSalario{
    background-color: rgb(73, 73, 73);
    color: rgb(105, 105, 105);
    transition: 500ms;
}

#btnModalNovaConta{
    background-color: rgb(73, 73, 73);
    color: rgb(105, 105, 105);
    transition: 500ms;
}
.campoObrigatorio{
    font-size: 10px;
    text-shadow: none;
    color: rgb(102, 102, 102);
}

.campoOpicional{
    font-size: 10px;
    text-shadow: none;
    color: rgb(102, 102, 102);
    display: block;
    width: 100%;
}

.avisos{
    margin-bottom: 10px;
    margin-inline: auto;
}





@keyframes pago{
    0% { width: 5px;}
    100% {width: 80px;}
}

.imgAcao{
    display: block;
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: pago 0.5s 1;
}

